{% extends 'main.html' %}
<head>
    {% load static%}
    
    {%block css%}
    <link rel="stylesheet" href="{% static 'css/faq.css'%}">
    {%endblock css%}
    
</head>
{% block main%}
<main>
    <div class="faq">
        <div class="question">
            <h3 >Как узнать цену на конкретную квартиру?</h3>
            
        </div>
        
        <div class="answer">
            <p>
                
                Позвоните в отдел продаж.
            </p>
        </div>

    </div>
       <div class="faq">
        <div class="question">
            <h3 >Возможна ли ипотека?</h3>
            
        </div>
        
        <div class="answer">
            <p>
                
                Да, ипотека возможна с гос. <br>поддержкой под 8% годовых.
            </p>
        </div>
        
    </div>
    </div>
       <div class="faq">
        <div class="question">
            <h3 >Как узнать дату сдачи дома?</h3>
            
        </div>
        
        <div class="answer">
            <p>
                
                Позвоните в отдел продаж.
            </p>
        </div>
        
    </div>
    </div>
       <div class="faq">
        <div class="question">
            <h3 >Что делать если не работает сайт?</h3>
            
        </div>
        
        <div class="answer">
            <p>
                
                напишите нам на почту.
            </p>
        </div>
        
    </div>
    </div>
       <div class="faq">
        <div class="question">
            <h3 >воможна ли переуступка по ДДУ?</h3>
            
        </div>
        
        <div class="answer">
            <p>
                
               Да, но после переуступки гос. <br>поддержка на ипотеку теряется.
            </p>
        </div>
        
    </div>
    
    <script type="text/javascript" src="{% static 'js/faq.js'%}"></script>
</main>
{% endblock%}