{% extends 'main.html'%}
{%block main%}
<main>
{%block news%}
<section class="news">
    <h2>Новости</h2>
     {%if news %}
            {%for new in news%}
            <div class="new">
    <div class="new-title"><a href="{% url 'news' %}">{{new.title}}</a></div>
    <div class="new-text">{{new.text}}</div>

    <img src="{{new.img.url }}" alt="">
    <div class="date">{{new.datetime}}</div>
</div>
           {% endfor%}
           {% else%}
            новостей нет!
            {%endif%}
</section>
{%endblock%}
    </main>
{%endblock%}